p[data-v-03416a64]{font-size:24px}img[data-v-c874e252]{width:200px;margin-top:20%}.poleBtn[data-v-c874e252]{background-color:hsla(0,0%,100%,.35);margin-bottom:50px;padding:20px 0}.poleBtn a[data-v-c874e252]{color:#fff;text-decoration:none;font-size:24px}